$primary: rgb(255,103,154); // pink

$primary2: rgba(147, 147, 147, 0.174); // burgundy

$bg-color: rgb(254,255,153); //gelb

$fg-color: rgb(153,255,255); // helles grau



$info: #454d4d; // 



$white: #eee;

$black: rgb(1, 0, 0);
