$primary: rgb(255,103,154); // pink

$secondary: rgb(254,255,153); //gelb

$bg-color: rgb(254,255,153); //gelb

$fg-color: rgb(153,255,255); // hellblau


$primary2: rgb(253, 255, 153); // 


$info: #454d4d; // 

$white: #eee;

$black: rgb(1, 0, 0);

$dark: #343a40;
$lightdark: #343a40a8;

$font-familyH: 'Bungee', cursive;
$font-familyP: 'Open Sans', sans-serif;


// font-family: ;
// font-family: 'Open Sans', sans-serif;