$primary: rgb(255,103,154); // pink

$bg-color: rgb(254,255,153); //gelb

$fg-color: rgb(153,255,255); // hellblau


$primary2: rgb(253, 255, 153); // burgundy


$info: #454d4d; // 

$white: #eee;

$black: rgb(1, 0, 0);
