<!-- Footer -->

<footer class="py-4">
  <hr>
    <div class="container text-center text-white">
      <div class="row footerrow">
        <!-- Social Icons -->
        <div class="col-md-12 my-1">
            {% include social_links.html %}
        </div>
        <div class="col-md-6 my-1">
            <img src="/img/icons/bike1.svg" class="favicon" alt="Favicon Bike"> 
          <a href="
          {% if page.lang == de %}
             {{ site.url }}/{{ site.data.languages.de.url }}/Datenschutz
            {% else %}
              {{ site.url }}/{{ site.data.languages.en.url }}/Privacy
            {% endif %}
            ">
            {{ site.data.translations.Datenschutz[page.lang] }}</a>
          <img src="/img/icons/christmas-tree.svg" class="favicon" alt="Favicon Mountain">
        </div>
        <div class="col-md-6 my-1">
            <img src="/img/icons/mountain1.svg" class="favicon" alt="Favicon Mountain"> 
            <a href="
            {% if page.lang == de %}
             {{ site.url }}/{{ site.data.languages.de.url }}/Impressum
            {% else %}
              {{ site.url }}/{{ site.data.languages.en.url }}/LegalNotice
            {% endif %}
            "
            
            >{{ site.data.translations.Impressum[page.lang] }}</a>
            <img src="/img/icons/bike.svg" class="favicon" alt="Favicon Bike"> 
        </div>
        <div class="col-md my-1">
          <small>
              Made with &#10084; by <a href="https://flimmerkiste.xyz" target="_blank"> flimmerkiste.xyz </a> &copy; {{ site.time | date: '%Y' }}
          </small>
        </div>
      </div>
    </div>
  </footer>
  



  <!-- JS -->
  <script defer src="https://use.fontawesome.com/releases/v5.11.2/js/all.js"
  data-auto-a11y="true" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144385946-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-144385946-1');
  </script>
