<div id="imgSlider">
        <div id="headerCarouselIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
            <li data-target="#headerCarouselIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#headerCarouselIndicators" data-slide-to="1"></li>
            <li data-target="#headerCarouselIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
            <!-- Slide One - Set the background image for this slide in the line below -->
            <div class="carousel-item active" style="background-image: url('../img/img_kontakt2.jpg')">
                <!-- <div class="carousel-caption d-none d-md-block">
                <h3 class="display-4">First Slide</h3>
                <p class="lead">This is a description for the first slide.</p>
                </div> -->
            </div>
            <!-- Slide Two - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('../img/img_brillen.jpg')">
                <!-- <div class="carousel-caption d-none d-md-block">
                <h3 class="display-4">Second Slide</h3>
                <p class="lead">This is a description for the second slide.</p>
                </div> -->
            </div>
            <!-- Slide Three - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('../img/img_innenansicht.jpg')">
                <!-- <div class="carousel-caption d-none d-md-block">
                <h3 class="display-4">Third Slide</h3>
                <p class="lead">This is a description for the third slide.</p>
                </div> -->
            </div>
            </div>
            <a class="carousel-control-prev" href="#headerCarouselIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Zurück</span>
                </a>
            <a class="carousel-control-next" href="#headerCarouselIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Vor</span>
                </a>
        </div>
    </div>