<div id="imgSlider">
        <div id="headerCarouselIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#headerCarouselIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#headerCarouselIndicators" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active" style="background-image: url('../img/img_elvira_1x1.jpg')">
                </div>
                <div class="carousel-item" style="background-image: url('../img/img_aussenansicht.jpg')">
                </div>
            </div>
            <a class="carousel-control-prev" href="#headerCarouselIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Zurück</span>
                </a>
            <a class="carousel-control-next" href="#headerCarouselIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Vor</span>
                </a>
        </div>
    </div>