<div id="imgSlider">
        <div id="headerCarouselIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#headerCarouselIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#headerCarouselIndicators" data-slide-to="1"></li>
                <li data-target="#headerCarouselIndicators" data-slide-to="2"></li>
                <li data-target="#headerCarouselIndicators" data-slide-to="3"></li>
                <li data-target="#headerCarouselIndicators" data-slide-to="4"></li>
                <li data-target="#headerCarouselIndicators" data-slide-to="5"></li>
                <li data-target="#headerCarouselIndicators" data-slide-to="6"></li>
                <li data-target="#headerCarouselIndicators" data-slide-to="7"></li>
                <li data-target="#headerCarouselIndicators" data-slide-to="8"></li>
                <li data-target="#headerCarouselIndicators" data-slide-to="9"></li>
                <li data-target="#headerCarouselIndicators" data-slide-to="10"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active" style="background-image: url('../img/brillen/brille1.jpg')">
                </div>
                <div class="carousel-item" style="background-image: url('../img/brillen/brille2.jpg')">
                </div>
                <div class="carousel-item" style="background-image: url('../img/brillen/brille3.jpg')">
                </div>
                <div class="carousel-item" style="background-image: url('../img/brillen/brille4.jpg')">
                </div>
                <div class="carousel-item" style="background-image: url('../img/brillen/brille5.jpg')">
                </div>
                <div class="carousel-item" style="background-image: url('../img/brillen/brille6.jpg')">
                </div>
                <div class="carousel-item" style="background-image: url('../img/brillen/brille7.jpg')">
                </div>
                <div class="carousel-item" style="background-image: url('../img/brillen/brille8.jpg')">
                </div>
                <div class="carousel-item" style="background-image: url('../img/brillen/brille9.jpg')">
                </div>
                <div class="carousel-item" style="background-image: url('../img/brillen/brille10.jpg')">
                </div>
                <div class="carousel-item" style="background-image: url('../img/brillen/brille11.jpg')">
                </div>
            </div>
            <a class="carousel-control-prev" href="#headerCarouselIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Zurück</span>
                </a>
            <a class="carousel-control-next" href="#headerCarouselIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Vor</span>
                </a>
        </div>
    </div>