.navbar{
    img {
      width: 100px;
      margin-right: 2em;
    }
  
    .nav-item{
      font-size: 1rem;
      padding-right: 5px;

        // Hover Effekt für Menüelemente
      a:hover {
        box-shadow: inset 0 1px 3px rgba(0,0,0,0.5), 0 1px 0 rgba(255,255,255,0.1);
        border-radius: 10px;
      }

    }
  }

  span#navLogoText {
    font-family: $font-familyH;
    color: white;
    text-shadow: 0px 3px 4px $primary;
   
  }
  
  // Hintergrund NavBar
  .navbar.py-2{
    background-color: $fg-color;
  }


  .nav-link {
    font-family: $font-familyH;

    text-transform: uppercase;
    text-align: center;

    &:hover {
      color: $primary;
      text-shadow: 0 0 5px $primary !important;
    }
  }

  .current {
    color: $primary !important;
  }

  