.navbar{
    img {
      width: 100px;
      margin-right: 2em;
    }
  
    .nav-item{
      font-size: 1rem;
      padding-right: 5px;
    }
  }

  span#navLogoText {
    font-size: xx-large;
    font-family: $font-familyH;
  }
  
  // Hintergrund NavBar
  .navbar.py-2{
    background-color: $fg-color;
  }


  .nav-link {
    font-family: $font-familyH;

    text-transform: uppercase;
    text-align: center;

    &:hover {
      color: $primary;
      text-shadow: 0 0 5px $primary !important;
    }
  }

  .current {
    color: $primary !important;
  }

  