

h1 {
    margin: 0.7em auto;
}
ul {
    list-style-type: none;
    padding: 0;

    li.posts {
        text-align: center;
        background-color: $bg-color;

        border-style: dashed;
        border-radius: 1rem;
        border-color: $primary;
        padding: 0.5em;
        margin-bottom: 1em;
        box-shadow: 2px 2px 1px $primary;
    
        h3 {
            margin-top: 1em;
        }

        .post_date{
            font-size: 1rem;
            font-weight: bolder;
            font-style: italic;
            margin: 0;

            color: $primary;
            text-shadow: 0px 1px 1px $fg-color;
        }
    }
}

.beitrag {
    margin-bottom: 2em;
}

// div.container {
//     margin: 1em auto;
//     max-width: 700px;
// }

p {
    img {
        width: 100%;
    }

    strong {
        font-weight: bold;
    }
}

img.post-thumbnail {
  max-width: 300px;
}

.my-button {
    color: $primary;
    background-color: $bg-color;

    padding: 0.7em;
    border-radius: 10px;

    margin: 2em auto;
}