div.blog {

    h1 {
        margin: 0.7em auto;
    }
    ul {
        list-style-type: none;
        padding: 0;

        li.posts {
            text-align: center;
            background-color: $primary2;

            border-style: dashed;
            border-radius: 1rem;
            border-color: $primary;
            padding: 0.5em;
            margin-bottom: 1em;
            box-shadow: 10px 10px 1px $primary;
        
            h3 {
                margin-top: 1em;
            }
        }
    }
}

div.container {
    margin: 1em auto;
    max-width: 700px;
}

p {
    img {
        width: 100%;
    }

    strong {
        font-weight: bold;
    }
}

img.post-thumbnail {
  max-width: 300px;
}

.my-button {
    color: $primary;
    background-color: $bg-color;

    padding: 0.7em;
    border-radius: 10px;

    margin: 2em auto;
}