footer  {
    background-color: transparent;
    font-size: 0.9em;
    font-family: $font-familyH;
    font-weight: lighter;
    text-transform: uppercase;
    font-family: $font-familyH;
    letter-spacing: 0.2em;
    
    position: relative;
    clear:both;
    min-height: 100px;
    margin-top: -100px; /* negative value of footer height */
    
    padding-top:20px;

    .footerrow {
        max-width: 600px;
        margin: 0 auto;
    }
    a {
        color: white;
        
        &:hover {
            color: $fg-color !important;
            text-decoration: none;
        }
    }
}