footer  {
    background-color: $primary;
    font-size: 0.9em;
    text-transform: uppercase;
    
    position: relative;
    clear:both;
    min-height: 100px;
    margin-top: -100px; /* negative value of footer height */
    
    padding-top:20px;



    .col-md-4 {
        margin: 0.75em 0;
    }

    a {
        color: white;
        font-weight: bold;
        padding: 18px 0;
        
        &:hover {
            color: $fg-color !important;
            text-decoration: none;
        }
    }
}