.navbar{
    img {
      width: 100px;

      margin-right: 2em;
    }
  
    .nav-item{
      font-size: 1rem;
      padding-right: 10px;
    }
  }
  
  .navbar.py-2{
    background-color: $fg-color;
  }

  div.container.justify-content-center{
    max-width: 950px;
  }

  .navbar-brand {
    margin: 0;
  }
  


  .nav-link {
    font-family: "Acme";

    text-transform: uppercase;
    text-align: center;

    &:hover {
      color: $primary;
      text-shadow: 0 0 5px $primary !important;
    }
  }

  .current {
    color: $primary !important;
  }

  